In [1]:
import numpy as np

import pandas as pd

# DataFrame Creation

In [4]:
#pip install pymysql

Requirement already satisfied: pymysql in c:\users\harish.r\appdata\local\programs\python\python313\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymysql as sql


# sql connection 

mydb = sql.connect(host="localhost",
                   user="root",
                   password="Iphone6+",
                   database= "phonepe_data"
                  )
cursor = mydb.cursor()#buffered=True)

## Aggreagted

In [3]:
# aggre_insurance_df

cursor.execute("SELECT * FROM aggregated_insurance")

mydb.commit()

table1 = cursor.fetchall()

Aggre_insurance = pd.DataFrame(table1, columns = ['States', 'Years', 'Quarter', 'Transaction_type', 'Transaction_count', 'Transaction_amount'])

Aggre_insurance

,States,Years,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2020,2,Insurance,6,1360
1,Andaman & Nicobar,2020,3,Insurance,41,15380
2,Andaman & Nicobar,2020,4,Insurance,124,157975
3,Andaman & Nicobar,2021,1,Insurance,225,244266
4,Andaman & Nicobar,2021,2,Insurance,137,181504
...,...,...,...,...,...,...
605,West Bengal,2023,2,Insurance,49792,65204280
606,West Bengal,2023,3,Insurance,58131,76359312
607,West Bengal,2023,4,Insurance,72712,100365562
608,West Bengal,2024,1,Insurance,79576,104987909
609,West Bengal,2024,2,Insurance,67048,89476633

In [4]:
# aggre_transaction_df

cursor.execute("SELECT * FROM aggregated_transaction")

mydb.commit()

table2 = cursor.fetchall()

Aggre_transaction = pd.DataFrame(table2, columns = ['States', 'Years', 'Quarter', 'Transaction_type', 'Transaction_count', 'Transaction_amount'])

Aggre_transaction

,States,Years,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,Recharge & bill payments,4200,1845307
1,Andaman & Nicobar,2018,1,Peer-to-peer payments,1871,12138655
2,Andaman & Nicobar,2018,1,Merchant payments,298,452507
3,Andaman & Nicobar,2018,1,Financial Services,33,10601
4,Andaman & Nicobar,2018,1,Others,256,184690
...,...,...,...,...,...,...
4669,West Bengal,2024,2,Merchant payments,505063040,312997770316
4670,West Bengal,2024,2,Peer-to-peer payments,393935166,1182044126793
4671,West Bengal,2024,2,Recharge & bill payments,80431842,51186387144
4672,West Bengal,2024,2,Financial Services,545945,683056741
4673,West Bengal,2024,2,Others,504714,432474570

In [5]:
# aggre_user_df

cursor.execute("SELECT * FROM aggregated_user")

mydb.commit()

table3 = cursor.fetchall()

Aggre_user = pd.DataFrame(table3, columns = ['States', 'Years', 'Quarter', 'Brands', 'Transaction_count', 'Percentage'])

Aggre_user

,States,Years,Quarter,Brands,Transaction_count,Percentage
0,Andaman & Nicobar,2018,1,Xiaomi,1665,0.247033
1,Andaman & Nicobar,2018,1,Samsung,1445,0.214392
2,Andaman & Nicobar,2018,1,Vivo,982,0.145697
3,Andaman & Nicobar,2018,1,Oppo,501,0.074332
4,Andaman & Nicobar,2018,1,OnePlus,332,0.049258
...,...,...,...,...,...,...
6727,West Bengal,2022,1,Lenovo,330017,0.015056
6728,West Bengal,2022,1,Infinix,284678,0.012987
6729,West Bengal,2022,1,Asus,280347,0.012790
6730,West Bengal,2022,1,Apple,277752,0.012671
6731,West Bengal,2022,1,Others,2196334,0.100199

## map

In [6]:
# map_insurance_df

cursor.execute("SELECT * FROM map_insurance")

mydb.commit()

table4 = cursor.fetchall()

map_insurance = pd.DataFrame(table4, columns = ['States', 'Years', 'Quarter', 'District', 'Transaction_count', 'Transaction_amount'])

map_insurance

,States,Years,Quarter,District,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2020,2,south andaman district,3,795
1,Andaman & Nicobar,2020,2,nicobars district,3,565
2,Andaman & Nicobar,2020,3,north and middle andaman district,1,281
3,Andaman & Nicobar,2020,3,south andaman district,35,13651
4,Andaman & Nicobar,2020,3,nicobars district,5,1448
...,...,...,...,...,...,...
12286,West Bengal,2024,2,nadia district,2758,3589423
12287,West Bengal,2024,2,birbhum district,1142,1515427
12288,West Bengal,2024,2,purba medinipur district,2463,2987090
12289,West Bengal,2024,2,maldah district,2731,3446842
12290,West Bengal,2024,2,darjiling district,2758,4207151

In [7]:
# map_transaction_df

cursor.execute("SELECT * FROM map_transaction")

mydb.commit()

table5 = cursor.fetchall()

map_transaction = pd.DataFrame(table5, columns = ['States', 'Years', 'Quarter', 'District', 'Transaction_count', 'Transaction_amount'])

map_transaction

,States,Years,Quarter,District,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,north and middle andaman district,442,931663
1,Andaman & Nicobar,2018,1,south andaman district,5688,12560249
2,Andaman & Nicobar,2018,1,nicobars district,528,1139849
3,Andaman & Nicobar,2018,2,north and middle andaman district,825,1317863
4,Andaman & Nicobar,2018,2,south andaman district,9395,23948236
...,...,...,...,...,...,...
19023,West Bengal,2024,2,nadia district,49543213,85889425747
19024,West Bengal,2024,2,birbhum district,29485233,49694427747
19025,West Bengal,2024,2,purba medinipur district,55342585,98897892001
19026,West Bengal,2024,2,maldah district,52271735,90432057728
19027,West Bengal,2024,2,darjiling district,22244510,34045403846

In [8]:
# map_user_df

cursor.execute("SELECT * FROM map_user")

mydb.commit()

table6 = cursor.fetchall()

map_user = pd.DataFrame(table6, columns = ['States', 'Years', 'Quarter', 'District', 'RegisteredUsers', 'AppOpens'])

map_user

,States,Years,Quarter,District,RegisteredUsers,AppOpens
0,Andaman & Nicobar,2018,1,north and middle andaman district,632,0
1,Andaman & Nicobar,2018,1,south andaman district,5846,0
2,Andaman & Nicobar,2018,1,nicobars district,262,0
3,Andaman & Nicobar,2018,2,north and middle andaman district,911,0
4,Andaman & Nicobar,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
19027,West Bengal,2024,2,nadia district,1737326,14549939
19028,West Bengal,2024,2,birbhum district,1099269,38692858
19029,West Bengal,2024,2,purba medinipur district,1721598,18370486
19030,West Bengal,2024,2,maldah district,1231444,42755282
19031,West Bengal,2024,2,darjiling district,711967,31397877

## top

In [9]:
# top_insurance_db

cursor.execute("SELECT * FROM top_insurance")

mydb.commit()

table7 = cursor.fetchall()

top_insurance = pd.DataFrame(table7, columns = ['States', 'Years', 'Quarter', 'Pincodes', 'Transaction_count', 'Transaction_amount'])

top_insurance

,States,Years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2020,2,744301.0,3,565
1,Andaman & Nicobar,2020,2,744104.0,2,513
2,Andaman & Nicobar,2020,2,744101.0,1,282
3,Andaman & Nicobar,2020,3,744112.0,9,3432
4,Andaman & Nicobar,2020,3,744105.0,7,3948
...,...,...,...,...,...,...
5950,West Bengal,2024,2,700091.0,486,769448
5951,West Bengal,2024,2,700015.0,463,553207
5952,West Bengal,2024,2,732101.0,435,540040
5953,West Bengal,2024,2,700006.0,423,593566
5954,West Bengal,2024,2,700150.0,408,510118

In [10]:
# top_transaction

cursor.execute("SELECT * FROM top_transaction")

mydb.commit()

table8 = cursor.fetchall()

top_transaction = pd.DataFrame(table8, columns = ['States', 'Years', 'Quarter', 'Pincodes', 'Transaction_count', 'Transaction_amount'])

top_transaction

,States,Years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,744101.0,1622,2769298
1,Andaman & Nicobar,2018,1,744103.0,1223,2238042
2,Andaman & Nicobar,2018,1,744102.0,969,3519060
3,Andaman & Nicobar,2018,1,744105.0,685,1298561
4,Andaman & Nicobar,2018,1,744104.0,340,1039715
...,...,...,...,...,...,...
9276,West Bengal,2024,2,721301.0,5404541,6950099700
9277,West Bengal,2024,2,732201.0,5321216,11948807515
9278,West Bengal,2024,2,700006.0,4851340,8331812219
9279,West Bengal,2024,2,742202.0,4779726,9404879274
9280,West Bengal,2024,2,700001.0,4678132,8179605953

In [11]:
# top_user_db

cursor.execute("SELECT * FROM top_user")

mydb.commit()

table9 = cursor.fetchall()

top_user = pd.DataFrame(table9, columns = ['States', 'Years', 'Quarter', 'Pincodes', 'RegisteredUsers'])

top_user

                 States  Years  Quarter  Pincodes  RegisteredUsers
0     Andaman & Nicobar   2018        1    744103             1608
1     Andaman & Nicobar   2018        1    744101             1108
2     Andaman & Nicobar   2018        1    744105             1075
3     Andaman & Nicobar   2018        1    744102             1006
4     Andaman & Nicobar   2018        1    744104              272
...                 ...    ...      ...       ...              ...
9277        West Bengal   2024        2    700015           136835
9278        West Bengal   2024        2    721101           132872
9279        West Bengal   2024        2    742304           131799
9280        West Bengal   2024        2    700150           128721
9281        West Bengal   2024        2    700091           127531

[9282 rows x 5 columns]

# EDA

In [12]:
import plotly.express as px

In [13]:
# Transaction_Year_Based
def Transaction_amount_count_Y(df, year):

    tacy = df[df['Years'] == year]

    tacy.reset_index(drop = True, inplace= True)

    tacyg = tacy.groupby("States")[['Transaction_count', 'Transaction_amount']].sum()

    tacyg.reset_index(inplace = True)

    fig_amount = px.bar(tacyg, x = 'States', y = 'Transaction_amount', title= f'{year} TRANSACTION AMOUNT', color_discrete_sequence = px.colors.sequential.Aggrnyl, height= 650, width= 600)

    fig_amount.show()

    fig_count = px.bar(tacyg, x = 'States', y = 'Transaction_count', title= f'{year} TRANSACTION COUNT', color_discrete_sequence = px.colors.sequential.Bluered_r, height= 650, width= 600)

    fig_count.show()
    
    
    # Geo Visvalisation Map

    import requests
    import json

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"        #India_Map_Link

    response = requests.get(url)

    data1 = json.loads(response.content)

    states_name = []

    for feature in data1['features']:
        states_name.append(feature['properties']['ST_NM'])
        
    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson= data1, locations= "States", featureidkey= "properties.ST_NM", color= "Transaction_amount", color_continuous_scale= "ylgn", range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()), hover_name= "States", title = f"{year} TRANSACTION AMOUNT", fitbounds= "locations", height= 600, width= 600 )
    
    fig_india_1.update_geos(visible = False)
    
    fig_india_1.show()
    
    
    fig_india_2 = px.choropleth(tacyg, geojson= data1, locations= "States", featureidkey= "properties.ST_NM", color= "Transaction_count", color_continuous_scale= "ylgn", range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()), hover_name= "States", title = f"{year} TRANSACTION COUNT", fitbounds= "locations", height= 600, width= 600 )
    
    fig_india_2.update_geos(visible = False)
    
    fig_india_2.show()
    
    return tacy

In [14]:
# Transaction_Quarter_Based
def Transaction_amount_count_Y_Q(df, quarter):

    tacy = df[df['Quarter'] == quarter]

    tacy.reset_index(drop = True, inplace= True)

    tacyg = tacy.groupby("States")[['Transaction_count', 'Transaction_amount']].sum()

    tacyg.reset_index(inplace = True)

    fig_amount = px.bar(tacyg, x = 'States', y = 'Transaction_amount', title= f'{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT', color_discrete_sequence = px.colors.sequential.Aggrnyl, height= 650, width= 600)

    fig_amount.show()

    fig_count = px.bar(tacyg, x = 'States', y = 'Transaction_count', title= f'{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT', color_discrete_sequence = px.colors.sequential.Bluered_r, height= 650, width= 600)

    fig_count.show()
    
    
    # Geo Visvalisation Map

    import requests
    import json

    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"        #India_Map_Link

    response = requests.get(url)

    data1 = json.loads(response.content)

    states_name = []

    for feature in data1['features']:
        states_name.append(feature['properties']['ST_NM'])
        
    states_name.sort()

    fig_india_1 = px.choropleth(tacyg, geojson= data1, locations= "States", featureidkey= "properties.ST_NM", color= "Transaction_amount", color_continuous_scale= "ylgn", range_color= (tacyg["Transaction_amount"].min(), tacyg["Transaction_amount"].max()), hover_name= "States", title = f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION AMOUNT", fitbounds= "locations", height= 600, width= 600 )
    
    fig_india_1.update_geos(visible = False)
    
    fig_india_1.show()
    
    
    fig_india_2 = px.choropleth(tacyg, geojson= data1, locations= "States", featureidkey= "properties.ST_NM", color= "Transaction_count", color_continuous_scale= "ylgn", range_color= (tacyg["Transaction_count"].min(), tacyg["Transaction_count"].max()), hover_name= "States", title = f"{tacy['Years'].min()} YEAR {quarter} QUARTER TRANSACTION COUNT", fitbounds= "locations", height= 600, width= 600 )
    
    fig_india_2.update_geos(visible = False)
    
    fig_india_2.show()
    
    return tacy

In [15]:
# Transaction_type
def Aggre_Tran_Transaction_type(df, state):

    tacy = df[df['States'] == state]

    tacy.reset_index(drop = True, inplace= True)

    tacyg = tacy.groupby("Transaction_type")[['Transaction_count', 'Transaction_amount']].sum()

    tacyg.reset_index(inplace = True)

    fig_pie_1 = px.pie(data_frame= tacyg, names= 'Transaction_type', values = 'Transaction_amount', 
                    width = 600, title = f'{state.upper()} TRANSACTION AMOUNT', hole = 0.5)

    fig_pie_1.show()

    fig_pie_2 = px.pie(data_frame= tacyg, names= 'Transaction_type', values = 'Transaction_count', 
                    width = 600, title = f'{state.upper()} TRANSACTION COUNT', hole = 0.5)

    fig_pie_2.show()

In [16]:
# Aggre_User_analysis_1
def Aggre_user_plot_1(df, year):

    aguy = df[df['Years'] == year]

    aguy.reset_index(drop= True, inplace= True)

    aguyg= pd.DataFrame(aguy.groupby("Brands")['Transaction_count'].sum())

    aguyg.reset_index(inplace = True)

    fig_bar_1 = px.bar(aguyg, x = 'Brands', y = 'Transaction_count', title = f'{year} BRANDS AND TRANSACTION COUNT', width=1000, color_discrete_sequence= px.colors.sequential.haline_r, hover_name= "Brands")

    fig_bar_1.show()
    
    return aguy

In [17]:
# Aggre_user_Analysis_2
def Aggre_user_plot_2(df, quarter):

    aguyq = df[df['Quarter'] == quarter]

    aguyq.reset_index(drop= True, inplace= True)

    aguyqg = pd.DataFrame(aguyq.groupby("Brands")["Transaction_count"].sum())

    aguyqg.reset_index(inplace = True)

    fig_bar_1 = px.bar(aguyqg, x = 'Brands', y = 'Transaction_count', title = f'{quarter} QUARTER BRANDS AND TRANSACTION COUNT', width=1000, color_discrete_sequence= px.colors.sequential.haline_r, hover_name= "Brands")

    fig_bar_1.show()

    return aguyq

In [18]:
# Aggre_user_analysis_3

def Aggre_user_plot_3(df, state):

    auygs = df[df['States'] == state]

    auygs.reset_index(drop = True, inplace = True)

    fig_line_1 = px.line(auygs, x = "Brands", y = "Transaction_count", hover_data= "Percentage", title= f"{state.upper()} BRANDS, TRANSACTION COUNT, PERCENTAGE", width= 1000, markers = True) 

    fig_line_1.show()

In [19]:
# Map_insurance_district
def Map_insur_District(df, state):

    tacy = df[df['States'] == state]

    tacy.reset_index(drop = True, inplace= True)

    tacyg = tacy.groupby("District")[['Transaction_count', 'Transaction_amount']].sum()

    tacyg.reset_index(inplace = True)

    fig_bar_1 = px.bar(tacyg, x = 'Transaction_amount', y = 'District', orientation= 'h', title= f"{state.upper()} DISTRICT AND TRANSACTION AMOUNT", color_discrete_sequence= px.colors.sequential.Mint_r)
    fig_bar_1.show()

    fig_bar_2 = px.bar(tacyg, x = 'Transaction_count', y = 'District', orientation= 'h', title= f"{state} DISTRICT AND TRANSACTION COUNT", color_discrete_sequence= px.colors.sequential.Mint_r)
    
    fig_bar_2.show()

In [49]:
# Map_User_plot_1
def map_user_plot_1(df, year):

    muy = df[df['Years'] == year]

    muy.reset_index(drop= True, inplace= True)

    muyg= muy.groupby("States")[['RegisteredUsers', 'AppOpens']].sum()

    muyg.reset_index(inplace = True)

    fig_line_1 = px.line(muyg, x = "States", y = ["RegisteredUsers", "AppOpens"], title= f"{year} REGISTERED USER AND APPOPENS", width= 1000, height = 800, markers = True) 

    fig_line_1.show()
    
    return muy

In [64]:
# Map_User_plot_2
def map_user_plot_2(df, quarter):

    muyq = df[df['Quarter'] == quarter]

    muyq.reset_index(drop= True, inplace= True)

    muyqg= muyq.groupby("States")[['RegisteredUsers', 'AppOpens']].sum()

    muyqg.reset_index(inplace = True)

    fig_line_1 = px.line(muyqg, x = "States", y = ["RegisteredUsers", "AppOpens"], title= f"{df['Years'].min()} YEAR {quarter} QUARTER REGISTERED USER AND APPOPENS", width= 1000, height = 800, markers = True, color_discrete_sequence= px.colors.sequential.Rainbow_r) 

    fig_line_1.show()
    
    return muyq

In [74]:
# map_user_plot_3
def map_user_plot_3(df, states):

    muyqs = df[df['States'] == states]

    muyqs.reset_index(drop= True, inplace= True)

    fig_map_user_bar1 = px.bar(muyqs, x = 'RegisteredUsers', y = 'District', orientation= 'h', title = 'REGISTERED USER', height= 800, color_discrete_sequence= px.colors.sequential.Rainbow_r)

    fig_map_user_bar1.show()

    fig_map_user_bar2 = px.bar(muyqs, x = 'AppOpens', y = 'District', orientation= 'h', title = 'AppOpens', height= 800, color_discrete_sequence= px.colors.sequential.Rainbow)

    fig_map_user_bar2.show()

In [93]:
# top_insurance_plot_1
def Top_insurance_plot_1(df, state): 
        
    tiy = df[df['States'] == state]

    tiy.reset_index(drop= True, inplace= True)

    fig_top_insur_bar1 = px.bar(tiy, x = 'Quarter', y = 'Transaction_amount', hover_data= 'Pincodes', title = 'TRANSACTION AMOUNT', height= 650, width = 600, color_discrete_sequence= px.colors.sequential.GnBu_r)

    fig_top_insur_bar1.show()
    
    fig_top_insur_bar2 = px.bar(tiy, x = 'Quarter', y = 'Transaction_count', hover_data= 'Pincodes', title = 'TRANSACTION COUNT', height= 650, width = 600, color_discrete_sequence= px.colors.sequential.Agsunset_r)

    fig_top_insur_bar2.show()

In [ ]:
def top_user_plot_1(df, year):

    tuy = df[df['Years'] == year]

    tuy.reset_index(drop= True, inplace= True)

    tuyg= pd.DataFrame(tuy.groupby(["States", "Quarter"])['RegisteredUsers'].sum())

    tuyg.reset_index(inplace = True)

    fig_top_plot_1 = px.bar(tuyg, x = 'States', y = 'RegisteredUsers', color = "Quarter", width = 1000, height = 800, color_discrete_sequence= px.colors.sequential.Burgyl, hover_name = "States", title= f'{year} REGISTERED USERS')

    fig_top_plot_1.show()
    
    return tuy

In [144]:
import pymysql as sql

def top_chart_transaction_amount(table_name):
    # sql connection 

    mydb = sql.connect(host="localhost",
                    user="root",
                    password="Iphone6+",
                    database= "phonepe_data"
                    )
    cursor = mydb.cursor()


    # plot_1
    query1 = f'''SELECT states, SUM(Transaction_amount) AS Transaction_amount
                FROM {table_name}
                GROUP BY states
                ORDER BY Transaction_amount DESC
                LIMIT 10;'''
                
    cursor.execute(query1)

    table_1 = cursor.fetchall()

    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns = ["States", "Transaction_amount"])

    fig_amount_1 = px.bar(df_1, x = 'States', y = 'Transaction_amount', title= 'TRANSACTION AMOUNT', color_discrete_sequence = px.colors.sequential.Aggrnyl, height= 650, width= 600, hover_name= 'States')

    fig_amount_1.show()



    # plot_2
    query2 = f'''SELECT states, SUM(Transaction_amount) AS Transaction_amount
                FROM {table_name}
                GROUP BY states
                ORDER BY Transaction_amount 
                LIMIT 10;'''
                
    cursor.execute(query2)

    table_2 = cursor.fetchall()

    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns = ["States", "Transaction_amount"])

    fig_amount_2 = px.bar(df_2, x = 'States', y = 'Transaction_amount', title= 'TRANSACTION AMOUNT', color_discrete_sequence = px.colors.sequential.Aggrnyl_r, height= 650, width= 600, hover_name= 'States')

    fig_amount_2.show()




    # plot_3
    query3 = f'''SELECT states, AVG(Transaction_amount) AS Transaction_amount
                FROM {table_name}
                GROUP BY states
                ORDER BY Transaction_amount;;'''
                
    cursor.execute(query3)

    table_3 = cursor.fetchall()

    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns = ["States", "Transaction_amount"])

    fig_amount_3 = px.bar(df_3, y = 'States', x = 'Transaction_amount', title= 'TRANSACTION AMOUNT', color_discrete_sequence = px.colors.sequential.Bluered_r, height= 800, width= 1000, hover_name= 'States', orientation= 'h')

    fig_amount_3.show()

In [ ]:
top_chart_transaction_amount("aggregated_insurance")

In [145]:
import pymysql as sql

def top_chart_transaction_count(table_name):
    # sql connection 

    mydb = sql.connect(host="localhost",
                    user="root",
                    password="Iphone6+",
                    database= "phonepe_data"
                    )
    cursor = mydb.cursor()


    # plot_1
    query1 = f'''SELECT states, SUM(Transaction_count) AS Transaction_count
                FROM {table_name}
                GROUP BY states
                ORDER BY Transaction_count DESC
                LIMIT 10;'''
                
    cursor.execute(query1)

    table_1 = cursor.fetchall()

    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns = ["States", "Transaction_count"])

    fig_amount_1 = px.bar(df_1, x = 'States', y = 'Transaction_count', title= 'TRANSACTION COUNT', color_discrete_sequence = px.colors.sequential.Aggrnyl, height= 650, width= 600, hover_name= 'States')

    fig_amount_1.show()



    # plot_2
    query2 = f'''SELECT states, SUM(Transaction_count) AS Transaction_count
                FROM {table_name}
                GROUP BY states
                ORDER BY Transaction_count 
                LIMIT 10;'''
                
    cursor.execute(query2)

    table_2 = cursor.fetchall()

    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns = ["States", "Transaction_count"])

    fig_amount_2 = px.bar(df_2, x = 'States', y = 'Transaction_count', title= 'TRANSACTION COUNT', color_discrete_sequence = px.colors.sequential.Aggrnyl_r, height= 650, width= 600, hover_name= 'States')

    fig_amount_2.show()




    # plot_3
    query3 = f'''SELECT states, AVG(Transaction_count) AS Transaction_count
                FROM {table_name}
                GROUP BY states
                ORDER BY Transaction_count;'''
                
    cursor.execute(query3)

    table_3 = cursor.fetchall()

    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns = ["States", "Transaction_count"])

    fig_amount_3 = px.bar(df_3, y = 'States', x = 'Transaction_count', title= 'TRANSACTION COUNT', color_discrete_sequence = px.colors.sequential.Bluered_r, height= 800, width= 1000, hover_name= 'States', orientation= 'h')

    fig_amount_3.show()

In [ ]:
top_chart_transaction_count('aggregated_insurance')

In [150]:
import pymysql as sql

def top_chart_registered_user(table_name, state):
    # sql connection 

    mydb = sql.connect(host="localhost",
                    user="root",
                    password="Iphone6+",
                    database= "phonepe_data"
                    )
    cursor = mydb.cursor()


    # plot_1
    query1 = f'''SELECT Districs, SUM(RegisteredUsers) AS RegisteredUser 
                 FROM {table_name}
                 WHERE States = '{state}'
                 GROUP BY Districs
                 ORDER BY RegisteredUser DESC
                 LIMIT 10;'''
                
    cursor.execute(query1)

    table_1 = cursor.fetchall()

    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns = ["Districs", "RegisteredUser"])

    fig_amount_1 = px.bar(df_1, x = 'Districs', y = 'RegisteredUser', title= 'TOP 10 OF REGISTERED USER', color_discrete_sequence = px.colors.sequential.Aggrnyl, height= 650, width= 600, hover_name= 'Districs')

    fig_amount_1.show()



    # plot_2
    query2 = f'''SELECT Districs, SUM(RegisteredUsers) AS RegisteredUser 
                 FROM {table_name}
                 WHERE States = '{state}' 
                 GROUP BY Districs
                 ORDER BY RegisteredUser 
                 LIMIT 10;'''
                
    cursor.execute(query2)

    table_2 = cursor.fetchall()

    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns = ["Districs", "RegisteredUser"])

    fig_amount_2 = px.bar(df_2, x = 'Districs', y = 'RegisteredUser', title= 'LAST 10 OF REGISTERED USER', color_discrete_sequence = px.colors.sequential.Aggrnyl_r, height= 650, width= 600, hover_name= 'Districs')

    fig_amount_2.show()




    # plot_3
    query3 = f'''SELECT Districs, AVG(RegisteredUsers) AS RegisteredUser 
                 FROM {table_name}
                 WHERE States = '{state}' 
                 GROUP BY Districs
                 ORDER BY RegisteredUser;'''
                                
    cursor.execute(query3)

    table_3 = cursor.fetchall()

    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns = ["Districs", "RegisteredUser"])

    fig_amount_3 = px.bar(df_3, y = 'Districs', x = 'RegisteredUser', title= 'AVERAGE 10 OF REGISTERED USER', color_discrete_sequence = px.colors.sequential.Bluered_r, height= 800, width= 1000, hover_name= 'Districs', orientation= 'h')

    fig_amount_3.show()

In [ ]:
top_chart_registered_user('map_user', 'Tamil Nadu')

In [155]:
import pymysql as sql

def top_chart_appopens(table_name, state):
    # sql connection 

    mydb = sql.connect(host="localhost",
                    user="root",
                    password="Iphone6+",
                    database= "phonepe_data"
                    )
    cursor = mydb.cursor()


    # plot_1
    query1 = f'''SELECT Districs, SUM(AppOpens) AS AppOpens 
                 FROM {table_name}
                 WHERE States = '{state}'
                 GROUP BY Districs
                 ORDER BY AppOpens DESC
                 LIMIT 10;'''
                
    cursor.execute(query1)

    table_1 = cursor.fetchall()

    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns = ["Districs", "AppOpens"])

    fig_amount_1 = px.bar(df_1, x = 'Districs', y = 'AppOpens', title= 'TOP 10 OF AppOpens', color_discrete_sequence = px.colors.sequential.Aggrnyl, height= 650, width= 600, hover_name= 'Districs')

    fig_amount_1.show()



    # plot_2
    query2 = f'''SELECT Districs, SUM(AppOpens) AS AppOpens 
                 FROM {table_name}
                 WHERE States = '{state}' 
                 GROUP BY Districs
                 ORDER BY AppOpens 
                 LIMIT 10;'''
                
    cursor.execute(query2)

    table_2 = cursor.fetchall()

    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns = ["Districs", "AppOpens"])

    fig_amount_2 = px.bar(df_2, x = 'Districs', y = 'AppOpens', title= 'LAST 10 OF AppOpens', color_discrete_sequence = px.colors.sequential.Aggrnyl_r, height= 650, width= 600, hover_name= 'Districs')

    fig_amount_2.show()




    # plot_3
    query3 = f'''SELECT Districs, AVG(AppOpens) AS AppOpens 
                 FROM {table_name}
                 WHERE States = '{state}' 
                 GROUP BY Districs
                 ORDER BY AppOpens;'''
                                
    cursor.execute(query3)

    table_3 = cursor.fetchall()

    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns = ["Districs", "AppOpens"])

    fig_amount_3 = px.bar(df_3, y = 'Districs', x = 'AppOpens', title= 'AVERAGE 10 OF AppOpens', color_discrete_sequence = px.colors.sequential.Bluered_r, height= 800, width= 1000, hover_name= 'Districs', orientation= 'h')

    fig_amount_3.show()

In [ ]:
top_chart_appopens('map_user', 'Tamil Nadu')

In [160]:
import pymysql as sql

def top_chart_registered_users(table_name):
    # sql connection 

    mydb = sql.connect(host="localhost",
                    user="root",
                    password="Iphone6+",
                    database= "phonepe_data"
                    )
    cursor = mydb.cursor()


    # plot_1
    query1 = f'''SELECT States, SUM(RegisteredUsers) AS RegisteredUsers
                 FROM {table_name}
                 GROUP BY States
                 ORDER BY RegisteredUsers DESC
                 LIMIT 10;'''
                
    cursor.execute(query1)

    table_1 = cursor.fetchall()

    mydb.commit()

    df_1 = pd.DataFrame(table_1, columns = ["States", "RegisteredUsers"])

    fig_amount_1 = px.bar(df_1, x = 'States', y = 'RegisteredUsers', title= 'TOP 10 OF REGISTERED USERS', color_discrete_sequence = px.colors.sequential.Aggrnyl, height= 650, width= 600, hover_name= 'States')

    fig_amount_1.show()



    # plot_2
    query2 = f'''SELECT States, SUM(RegisteredUsers) AS RegisteredUsers
                 FROM {table_name}
                 GROUP BY States
                 ORDER BY RegisteredUsers
                 LIMIT 10;'''
                
    cursor.execute(query2)

    table_2 = cursor.fetchall()

    mydb.commit()

    df_2 = pd.DataFrame(table_2, columns = ["States", "RegisteredUsers"])

    fig_amount_2 = px.bar(df_2, x = 'States', y = 'RegisteredUsers', title= 'LAST 10 OF REGISTERED USERS', color_discrete_sequence = px.colors.sequential.Aggrnyl_r, height= 650, width= 600, hover_name= 'States')

    fig_amount_2.show()




    # plot_3
    query3 = f'''SELECT States, AVG(RegisteredUsers) AS RegisteredUsers
                 FROM {table_name}
                 GROUP BY States
                 ORDER BY RegisteredUsers;'''
                                
    cursor.execute(query3)

    table_3 = cursor.fetchall()

    mydb.commit()

    df_3 = pd.DataFrame(table_3, columns = ["States", "RegisteredUsers"])

    fig_amount_3 = px.bar(df_3, y = 'States', x = 'RegisteredUsers', title= 'AVERAGE 10 OF REGISTERED USERS', color_discrete_sequence = px.colors.sequential.Bluered_r, height= 800, width= 1000, hover_name= 'States', orientation= 'h')

    fig_amount_3.show()

In [161]:
top_chart_registered_users('top_user')

## Aggregated_insurance

In [ ]:
tac_Y = Transaction_amount_count_Y(Aggre_insurance, 2021)

In [ ]:
Transaction_amount_count_Y_Q(tac_Y, 2)

## Aggregated_transaction

In [ ]:
Aggre_tran_tac_Y = Transaction_amount_count_Y(Aggre_transaction, 2021)

In [ ]:
Aggre_Tran_Transaction_type(Aggre_tran_tac_Y, "Tamil Nadu")

In [ ]:
Aggre_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Aggre_tran_tac_Y, 3)

In [ ]:
Aggre_Tran_Transaction_type(Aggre_tran_tac_Y_Q, "Tamil Nadu")

## Aggreted_user

In [ ]:
Aggre_user_Y = Aggre_user_plot_1(Aggre_user, 2020)

In [ ]:
Aggre_user_Y_Q = Aggre_user_plot_2(Aggre_user_Y, 2)

## Map_Insurance

In [ ]:
Map_insur_tac_Y = Transaction_amount_count_Y(map_insurance, 2023)

In [ ]:
Map_insur_District(Map_insur_tac_Y, "West Bengal")

In [ ]:
Map_insur_tac_Y_Q = Transaction_amount_count_Y_Q(Map_insur_tac_Y, 3)

In [ ]:
Map_insur_District(Map_insur_tac_Y_Q, "Tamil Nadu")

In [ ]:
map_insurance

## map_transaction

In [ ]:
Map_tran_tac_Y = Transaction_amount_count_Y(map_transaction, 2023)

In [ ]:
Map_insur_District(Map_tran_tac_Y, "West Bengal")

In [ ]:
Map_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Map_tran_tac_Y, 3)

In [ ]:
Map_insur_District(Map_tran_tac_Y_Q, "Tamil Nadu")

In [ ]:
map_transaction

## map_user

In [ ]:
Map_user_Y = map_user_plot_1(map_user, 2020)

In [ ]:
Map_user_Y_Q = map_user_plot_2(Map_user_Y, 2)

In [ ]:
map_user_plot_3(Map_user_Y_Q, 'Tamil Nadu')

In [ ]:
map_user

## top_insurance

In [ ]:
Top_insur_tac_Y = Transaction_amount_count_Y(top_insurance, 2023)

In [ ]:
Top_insurance_plot_1(Top_insur_tac_Y, 'West Bengal')

In [ ]:
top_insur_tac_Y_Q = Transaction_amount_count_Y_Q(Top_insur_tac_Y, 3)

## Top Transaction

In [ ]:
Top_tran_tac_Y = Transaction_amount_count_Y(top_transaction, 2023)

In [ ]:
Top_insurance_plot_1(Top_tran_tac_Y, 'West Bengal')

In [ ]:
top_tran_tac_Y_Q = Transaction_amount_count_Y_Q(Top_tran_tac_Y, 3)

## Top_user

In [ ]:
Top_user_Y = top_user_plot_1(top_user, 2021)

In [113]:
# top_user_plot_2

def top_user_plot_2(df, state):    
    
    tuys = df[df['States'] == state]

    tuys.reset_index(drop= True, inplace= True)

    fig_top_pot_2 = px.bar(tuys, x = "Quarter", y = "RegisteredUsers", title= "REGISTERED USERS, PINCODES, QUARTER", width = 1000, height = 800, color = "RegisteredUsers", hover_data= "Pincodes", color_continuous_scale= px.colors.sequential.Magenta)

    fig_top_pot_2.show()

In [ ]:
top_user_plot_2(Top_user_Y, 'West Bengal')